.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page h1 {
  color: black;
  font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 100;
  z-index: 2;
}

.home-page p {
  font-size: 22px;
  font-family: 'Spectral', Arial, Helvetica, sans-serif;
  margin-top: 115px;
  z-index: 3;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

.home-page .blue-box {
  background-color: #658795;
  position: absolute;
  width: 50.5%;
  height: 265px;
  right: 0;
  z-index: 1;
}

.home-page .green-box {
  background-color: #9ebf82;
  position: absolute;
  width: 50%;
  height: 200px;
  left: 0;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
